<div class="container">
  <app-board (statusChange)="updateStatus($event)" (gameOver)="displayContinueButton()"></app-board>
  <div class="status">
    {{ statusMessage }}
  </div>
  <button *ngIf="showResetButton" (click)="resetGame()">Oyunu Sıfırla</button>
  <button *ngIf="showContinueBtn" (click)="continueGame()">Devam Et</button>
  <div class="scoreboard">
    <table>
      <tr>
        <th>Player</th>
        <th>Score</th>
      </tr>
      <tr>
        <td style="text-align: left;">You</td>
        <td>{{ score.X }}</td>
      </tr>
      <tr>
        <td style="text-align: left;">Computer</td>
        <td>{{ score.O }}</td>
      </tr>
    </table>
  </div>
</div>
