<div class="container">
  <app-board (statusChange)="updateStatus($event)" (gameOver)="displayContinueButton()"></app-board>
  <div class="status">
    {{ statusMessage }}
  </div>
  <div class="buttons">
    <button *ngIf="showResetButton" (click)="resetGame()">Reset Game</button>
    <button *ngIf="showContinueBtn" (click)="continueGame()">Continue</button>
  </div>
  <div class="scoreboard">
    <h3>Scoreboard</h3>
    <table>
      <tr>
        <th>Player</th>
        <th>Score</th>
      </tr>
      <tr>
        <td>You</td>
        <td>{{ score.X }}</td>
      </tr>
      <tr>
        <td>Computer</td>
        <td>{{ score.O }}</td>
      </tr>
    </table>
  </div>
</div>