.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-color: #282c34;
  color: white;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.status {
  font-size: 24px;
  font-weight: bold;
  color: #61dafb;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.scoreboard {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  text-align: center;
  width: 100%;
}

.scoreboard h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #61dafb;
}

.table {
  color: white;
  background-color: #333;
}

.table thead th {
  background-color: #61dafb;
  color: #282c34;
  text-align: center;
}

.table tbody tr {
  text-align: center;
}

.table tbody tr:nth-child(even) {
  background-color: #444;
}

.table tbody tr:nth-child(odd) {
  background-color: #333;
}

.table td {
  color: #61dafb;
}